In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('data/merchants_train.csv', encoding='cp1251', delimiter=';')

In [9]:
transactions = pd.read_csv('data/transactions.csv', encoding='cp1251', delimiter=',')

In [10]:
transactions.describe()

        merchant_id       latitude      longitude
count  2.493530e+05  249353.000000  249353.000000
mean   4.441047e+05      49.761256      33.758102
std    2.506589e+05      17.722934      17.774541
min    1.780000e+02     -83.445345    -176.155650
25%    3.639860e+05      55.604737      30.382891
50%    4.102950e+05      55.750347      37.594847
75%    5.879220e+05      55.855153      37.661401
max    1.934268e+06      84.830761     171.866882

In [11]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249353 entries, 0 to 249352
Data columns (total 5 columns):
merchant_id              249353 non-null int64
latitude                 249353 non-null float64
longitude                249353 non-null float64
real_transaction_dttm    249353 non-null object
record_date              249353 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 9.5+ MB

In [12]:
transactions.head()

   merchant_id   latitude  longitude real_transaction_dttm record_date
0          178   0.000000   0.000000               9:34:47     9:30:36
1          178  55.055995  82.912991              17:49:50    17:54:24
2          178   0.000000   0.000000               9:34:47     9:31:22
3          178  55.056034  82.912734              17:49:50    17:43:01
4          178  55.056034  82.912734              17:49:50    17:45:17